{% extends 'base.html' %}
{% block content %}
    <script type="text/javascript">


        //提交表单
        function addTags() {
            var addCatalog = $.trim($('#addCatalog').val());
            var addFirstTags = $.trim($('#addFirstTags').val());
            var addSecondTags = $.trim($('#addsecondTags').val());

            if (!addCatalog) {
                alert('类目不能为空！');
                return false;
            } else if (!addFirstTags) {
                alert('一级标签不能为空！');
                return false;
            }

            // 异步提交数据到
            $.ajax(
                {
                    type: "POST",
                    url: "/addTags",
                    data: {"addCatalog": addCatalog, "addFirstTags": addFirstTags,"addSecondTags":addSecondTags},

                    beforeSend: function () {
                        return true;
                    },

                    success: function (data) {
                        if (data == 0) {
                            alert("标签已经存在！")
                            location.reload();

                        } else {
                            var msg = "添加";
                            alert(msg + "成功!" + data);
                        }
                    },
                    error: function () {
                        alert('请求出错');
                    },
                    complete: function () {
                    }
                });

            return false;
        }

        //删除标签
        function deleteTag(id) {
        if (!id) {
            alert('Error！');
            return false;
        }

        $.ajax(
            {
                url: "/deleteTag",
                data: {"id": id},
                type: "post",
                beforeSend: function () {
                    return true;
                },
                success: function (data) {
                    if (data == "ok") {
                        alert('删除成功!')
                    }
                    else {
                        alert('操作失败!');
                    }
                },
                error: function () {
                    alert('请求出错');
                },
                complete: function () {
                }
            });

        return false;
    }


        模态框隐藏时触发该事件
        $(function () {
            $('#myAddUserModal').on('hide.bs.modal', function () {
                // 关闭时清空edit状态为add

                location.reload();
                $("#act").val("add");
            })
        });
    </script>

    <div class="pageheader">
            <form action="/catalogAndTags/" method="get" class="form-horizontal form-bordered">
                <div class="form-group">
                    <!--<h2 class="col-sm-3 "><i class="fa fa-table"></i> 类目与标签</h2>-->
                    <label class="col-sm-1 control-label" style="text-align:right;font-size: 20px">类目:</label>
                    <div class="col-sm-3" style="text-align:left">
                        <select name="catalog" id="catalog" class="form-control">
                            {% for catalog in catalogs %}
                            <option value="{{ catalog }}">{{ catalog }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-7" style="text-align:left">
                        <div class="btn-group">
                            <input type="submit" value="查询" class="btn btn-success">
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                    data-target="#myAddUserModal">添加标签
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table" id="table1">
                            <thead>
                            <tr>
                                <th style="text-align: center">类目</th>
                                <th style="text-align: center">一级标签</th>
                                <th style="text-align: center">二级标签</th>
                                <th style="text-align: center">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for i in data %}
                            <tr class="table-striped">
                                <td style="text-align: center">{{ i.catalog }}</td>
                                <td style="text-align: center">{{ i.firstTags }}</td>
                                <td style="text-align: center">{{ i.secondTags }}</td>
                                <td style="text-align: center">
                                    <button id="btnEdit" type="button" class="btn btn-danger"
                                            onclick="return deleteTag( {{ i.id }} )">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除标签
                                    </button>
                                </td>

                            </tr>
                            {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <div class="clearfix mb30"></div>


                </div><!-- panel-body -->
            </div><!-- panel -->

        </div><!-- contentpanel -->

    <form class="form-horizontal" role="form" method="post" id="form_data" onsubmit="return addTags()">
    <div class="modal fade" id="myAddUserModal" role="table">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加标签
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="act" value="add"/>
                    <div class="form-group" style="margin-left: 50px">
                        <label class="col-sm-4 control-label">类目(必填)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width: 150px" id="addCatalog" name="addCatalog"
                                   placeholder="添加类目">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 50px">
                        <label class="col-sm-4 control-label">一级标签(必填)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width: 150px" id="addFirstTags" name="addTag"
                                   placeholder="添加一级标签">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 50px">
                        <label class="col-sm-4 control-label">二级标签(选填)</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" style="width: 150px" id="addsecondTags" name="addTag"
                                   placeholder="添加二级标签">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-success" id="btn_submit">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}

