{% extends 'base.html' %}
{% block content %}

{% load set_val %}
{% load pagetag %}

<script type="text/javascript">
    // 编辑表单
    function checkProductId(productId) {
        if (!productId) {
            alert('Error！');
            return false;
        }
        // var form_data = new Array();

        $.ajax(
            {
                url: "/checkProductId",
                data: {"productId": productId},
                type: "post",
                beforeSend: function () {
                    return true;
                },
                success: function (data) {
                    if (data) {
                        // 解析json数据
                        data = JSON.parse(data);
                        // 赋值;
                        var id = data["productId"];
                        var dir = "{{ STATIC_URL }}" + id + ".jpg";
                        $("#productId").val(id);
                        // 将元素设置为readonly
                        $('#productId').attr("readonly", "readonly");
                        $("#img_id").attr("src", dir);
                        //修改文本框的属性为disabled,不能在页面上更改文本框内容
                        // {#$('#productId').attr("disabled", true)#}
                        // location.reload();
                    } else {
                        alert('操作失败');
                    }
                },
                error: function () {
                    alert('请求出错');
                },
                complete: function () {
                }
            });

        return false;
    }

    //加载二级类目
    function reloadSecondCategory(ths) {
        var firstCategory = $(ths).val();
        // alert(firstCategory);
        if (!firstCategory) {
            alert("获取不了一级类目名称");
            return false;
        }

        $.ajax({
            url: '/reloadSecondCategory',
            type: 'post',
            data: {"firstCategory": firstCategory},
            beforeSend: function () {
                return true
            },
            success: function (data) {
                if (data) {
                    data = JSON.parse(data);
                    // 赋值
                    var secondCategorys = data['secondCategorys'];
                    // alert(tags);
                    var html = "<option value=''>-请选择标签-</option>";
                    for (var i = 0; i < secondCategorys.length; i++) {
                        html += "<option value=\"" + secondCategorys[i] + "\">" + secondCategorys[i] + "</option>";
                    }
                    $('#secondCategory').html(html);
                    // alert(html);

                } else {
                    alert('获取标签失败');
                }
            },
            error: function () {
                alert('请求出错！');
            },
            complete: function () {

            }
        });
        return false;
    }

    //加载标签注释
    function reloadComment(ths) {
        var tagText = $(ths).val();
        if (!tagText) {
            alert("获取不了监控标签");
            return false;
        }

        $.ajax({
            url: '/reloadMonitorTagComment',
            type: 'post',
            data: {"tagText": tagText},
            beforeSend: function () {
                return true
            },
            success: function (data) {
                if (data) {
                    data = JSON.parse(data);
                    // 赋值
                    var Monitorcomment = data['comment'];
                    $('#comment').attr("readonly", "");
                    $('#comment').val(Monitorcomment);
                    $('#comment').attr("readonly", "readonly");

                } else {
                    alert('获取监控标签注释失败');
                }
            },
            error: function () {
                alert('请求出错！');
            },
            complete: function () {

            }
        });
        return false;
    }

    //提交表单
    function check_form() {
        var productId = $.trim($('#productId').val());
        var tags = $.trim($('#tag').val());
        var act = $.trim($('#act').val());
        if (!productId) {
            alert('产品不能为空！');
            return false;
        } else if (!tags) {
            alert('请输入标签！');
            return false;
        } else if (act == "edit") {
            alert('动作为修改,非添加！');
            return false;
        }

        var fields = $("#form_data").serializeArray();
        fields = JSON.stringify(fields)  //中文会乱码
        // alert(fields);
        // 异步提交数据到
        alert(fields);
        $.ajax(
            {
                type: "POST",
                url: "/addMonitorProduct",
                data: {"form_data": fields, "act": act},

                beforeSend: function () {
                    return true;
                },

                success: function (data) {
                    if (data == 0) {
                        alert("产品标签添加失败！")
                        location.reload();
                    } else {
                        var msg = "添加";
                        // document.location.href = '/index'
                        alert(msg + "成功!" + data);
                        // 关闭时清空edit状态为add
                        location.reload();
                    }
                },
                error: function () {
                    alert('请求出错');
                },
                complete: function () {
                }
            });

        return false;
    }

    //模态框隐藏时触发该事件
    $(function () {
        $('#myAddUserModal').on('hide.bs.modal', function () {
            // 关闭时清空edit状态为add

            location.reload();
        })
    });
</script>

<div class="pageheader">
    <form action="/competingSales/" method="get" class="form-horizontal ">
        <div class="form" style="padding-left: 20px">
            <div class="row row-pad-5">
                <!--一级类目-->
                <div class="form-group col-sm-3">
                    <label class="col-sm-3">一级类目</label>
                    <br>
                    <div class="col-sm-3" style="width: 100%">
                        <select class="select2" name="firstCategory" onclick="reloadSecondCategory(this);" style="height: 40px;">
                            {% if firstCategory_select != "" %}
                                   <option value="{{ firstCategory_select }}">{{ firstCategory_select }}</option>
                             {% else %}
                                   <option value="">请选择(必选)...</option>
                             {% endif %}

                            {% for firstCategory in firstCategorySet %}
                            <option value="{{ firstCategory }}">{{ firstCategory }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--二级类目-->
                <div class="form-group col-sm-3" style="padding-left: 30px">
                    <label class="col-sm-3">二级类目</label>
                    <br>
                    <div class="col-sm-3" style="width: 100%">
                        <select class="select2" name="secondCategory" id="secondCategory" style="height: 40px;width: 90%">
                            {% if secondCategory_select != "" %}
                                   <option value="{{ secondCategory_select }}">{{ secondCategory_select }}</option>
                             {% else %}
                                   <option value="">请选择(必选)...</option>
                             {% endif %}
                        </select>
                    </div>
                </div>
                <!--日期-->
                <div class="form-group col-sm-2" style="padding-left: 30px">
                    <label class="col-sm-3">日期</label>
                    <br>
                    <div class="col-sm-3" style="width: 90%">
                        <input type="text" name="date" class="form-control datepicker-multiple" id="date" value="">
                    </div>
                </div>
            </div>

            <div class="row row-pad-5">

                <!--日销大于4且未添加监控标签-->
                <div  style=" float: left; width: 25.33333333%;">
                    <!--<br>-->
                    <div class="ckbox ckbox-success" style="padding-top: 5px" >
                        <input type="checkbox" id="checkboxSuccess" value="1" name="salesFilter" checked="checked" >
                        <label for="checkboxSuccess" style="font-size: 20px;font-weight: lighter" >日销大于4且未添加监控标签</label>
                    </div>
                </div>
                <!--提交-->
                <div class="btn-group col-sm-1">
                    <!--<br>-->
                    <input type="submit" value="查询" class="btn btn-success" style="float: left">
                    <!--<a href="/download_competingSales/?date={{ date }}&catalog={{ catalog }}"-->
                    <!--class="btn btn-success" target="_blank">下载查询结果</a>-->
                </div>
            </div>


        </div>
    </form>
</div>

<div class="contentpanel">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="dataTables_info" id="table1_info" role="status" style="padding-top: 15px">
                {{ totaLNumber }}条数据,总页数{{ pagecontent.paginator.num_pages }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers" id="table1_paginate">
                {% if pagecontent.has_previous %}
                <a href="?salesFilter={{ salesFilter }}&page=1&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button previous disabled" aria-controls="table1" data-dt-idx="0" tabindex="0"
                   id="table1_previous">
                    First
                </a>
                <a href="?salesFilter={{ salesFilter }}&page={{ pagecontent.previous_page_number }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button previous disabled" aria-controls="table1" data-dt-idx="0" tabindex="0"
                   id="table1_previous">
                    &laquo;Previous
                </a>
                {% endif %}
                <span>
                        {% for num in pagecontent.paginator.page_range %}
                        {% circlePageForCompeting pagecontent.number num date firstCategory secondCategory salesFilter %}
                        {% endfor %}
                        </span>
                {% if pagecontent.has_next %}
                <a href="?salesFilter={{ salesFilter }}&page={{ pagecontent.next_page_number }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button next" aria-controls="table1" data-dt-idx="7" tabindex="0"
                   id="table1_next">
                    Next&raquo;
                </a>
                <a href="?salesFilter={{ salesFilter }}&page={{ totalPages }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button next" aria-controls="table1" data-dt-idx="7" tabindex="0"
                   id="table1_next">
                    Last
                </a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" id="table1">
                    <thead>
                    <tr>
                        <th style="text-align: center">产品ID</th>
                        <th style="width:80px;text-align: center">产品图片</th>
                        <th style="width:100px;text-align: center">价格</th>
                        <th style="text-align: center">总评分</th>
                        <th style="text-align: center">总评价</th>
                        <th style="text-align: center">总销量</th>
                        <th style="text-align: center">近1天销量</th>
                        <th style="text-align: center">近2天销量</th>
                        <th style="text-align: center">近3天销量</th>
                        <th style="text-align: center">近4天销量</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in pagecontent.object_list %}
                    {% if i.past1_Sales > 4 %}
                    <tr class="alert alert-success" style="background-color: #1caf9a;color: white">
                        <td><a href="https://www.aliexpress.com/item/Summer/{{ i.productId }}.html"
                               target="_blank"
                               style="color: white">{{ i.productId }}</a></td>
                        <td><img src="{{ STATIC_URL }}{{i.productId}}.jpg" width="80" height="80" alt="图片无法显示">
                        </td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.productScore }}</td>
                        <td>{{ i.totalEvaluation }}</td>
                        <td>{{ i.totalSales }}</td>
                        <td>{{ i.past1_Sales }}</td>
                        <td>{{ i.past2_Sales }}</td>
                        <td>{{ i.past3_Sales }}</td>
                        <td>{{ i.past4_Sales }}</td>
                        <td>
                            <button id="btnEdit" type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myAddUserModal"
                                    onclick="return checkProductId( {{ i.productId }} )">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>添加产品标签
                            </button>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><a href="https://www.aliexpress.com/item/Summer/{{ i.productId }}.html"
                               target="_blank">
                            {{ i.productId }}</a></td>
                        <td>
                            <a href="https://www.aliexpress.com/item/Summer/{{ i.productId }}.html"
                               target="_blank">
                                <img src="{{ STATIC_URL }}{{ i.productId }}.jpg" width="80" height="80"
                                     alt="图片无法显示">
                            </a>
                        </td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.productScore }}</td>
                        <td>{{ i.totalEvaluation }}</td>
                        <td>{{ i.totalSales }}</td>
                        <td>{{ i.past1_Sales }}</td>
                        <td>{{ i.past2_Sales }}</td>
                        <td>{{ i.past3_Sales }}</td>
                        <td>{{ i.past4_Sales }}</td>
                        <td>
                            <button id="btnEdit" type="button" class="btn btn-warning" data-toggle="modal"
                                    data-target="#myAddUserModal"
                                    onclick="return checkProductId( {{ i.productId }} )">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>添加产品标签
                            </button>
                        </td>

                    </tr>
                    {% endif %}
                    <!--{% set tags = i.tags %}-->
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- table-responsive -->
            <div class="clearfix mb30"></div>


        </div><!-- panel-body -->
    </div><!-- panel -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="dataTables_info" id="table1_info" role="status" style="padding-top: 15px">
                {{ totaLNumber }}条数据,总页数{{ pagecontent.paginator.num_pages }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers" id="table1_paginate">
                {% if pagecontent.has_previous %}
                <a href="?salesFilter={{ salesFilter }}&page=1&date={{ date }}&firstCategory={{ firstCategory }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button previous disabled" aria-controls="table1" data-dt-idx="0" tabindex="0"
                   id="table1_previous">
                    First
                </a>
                <a href="?salesFilter={{ salesFilter }}&page={{ pagecontent.previous_page_number }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button previous disabled" aria-controls="table1" data-dt-idx="0" tabindex="0"
                   id="table1_previous">
                    &laquo;Previous
                </a>
                {% endif %}
                <span>
                        {% for num in pagecontent.paginator.page_range %}
                        {% circlePageForCompeting pagecontent.number num date firstCategory secondCategory salesFilter %}
                        {% endfor %}
                        </span>
                {% if pagecontent.has_next %}
                <a href="?salesFilter={{ salesFilter }}&page={{ pagecontent.next_page_number }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button next" aria-controls="table1" data-dt-idx="7" tabindex="0"
                   id="table1_next">
                    Next&raquo;
                </a>
                <a href="?salesFilter={{ salesFilter }}&page={{ totalPages }}&date={{ date }}&firstCategory={{ firstCategory }}&secondCategory={{ secondCategory }}"
                   class="paginate_button next" aria-controls="table1" data-dt-idx="7" tabindex="0"
                   id="table1_next">
                    Last
                </a>
                {% endif %}
            </div>
        </div>

    </div>


</div><!-- contentpanel -->

<form class="form-horizontal" role="form" method="post" id="form_data" onsubmit="return check_form()">
    <div class="modal fade" id="myAddUserModal" role="table">
        <div class="modal-dialog" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        加入热销品
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="act" value="add"/>
                    <div class="form-group " style="margin-left: 50px">
                        <label class="col-sm-4 control-label">产品id</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" style="width: 150px" id="productId"
                                   name="productId"
                                   placeholder="产品id">
                        </div>
                    </div>
                    <div class="form-group " style="margin-left: 50px">
                        <label class="col-sm-4 control-label">图片</label>
                        <div class="col-sm-8">
                            <img id=img_id src="" width="80" height="80" alt="图片无法显示">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 50px">
                        <label class="col-sm-4 control-label">监控标签</label>
                        <div class="col-sm-6">
                            <select class="select2" data-placeholder="Choose a Country..." onclick="reloadComment(this);" name="tag" id="tag"
                                    style="height: 40px">
                                <option value="">请选择监控标签</option>
                                {% for tagID in tagsID %}
                                    <option value="{{ tagID }}">{{ tagID }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 50px">
                        <label class="col-sm-4 control-label">标签注释</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="width: 150px" id="comment"
                                   name="comment"
                                   placeholder="" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-success" id="btn_submit">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    var now = new Date();
    // alert(now);
    //格式化日，如果小于9，前面补0
    var day = ("0" + now.getDate()).slice(-2);

    //格式化月，如果小于9，前面补0
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    //拼装完整日期格式
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    // alert(today);

    document.getElementById("date").value=(today);
</script>

{% endblock %}


