{% extends 'base.html' %}
{% block content %}

{% load set_val %}
{% load pagetag %}

<div class="contentpanel">

    <div class="row">
        <!--2019.04.26-->
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">×</a>
                        <a href="" class="minimize">−</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">2019.04.26</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>1、增加分页功能</li>
                        <li>2、产品ID增加速卖通产品详情页超链接</li>
                        <li>3、优化前端UI</li>
                        <li>4、新增站点首页,版本信息页</li>
                    </ul>
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->

        <!--2019.05.03-->
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">×</a>
                        <a href="" class="minimize">−</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">2019.05.03</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>1、增加数据下载功能</li>
                        <li>2、图片加超链接</li>
                        <li>3、增加类目与标签页面</li>
                        <li>4、增加侵权产品资讯导航页面</li>
                        <li>5、优化热销品爬虫脚本</li>
                        <li>6、优化滚动条功能</li>
                        <li>7、优化部分下拉框</li>
                        <li>8、修改"加入热销品"功能bug</li>
                        <li>9、"热销品监控表"、"疑侵权品被删列表"增加图片超链接</li>
                        <li>10、修改"疑侵权品被删列表"翻页bug</li>
                    </ul>
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->

        <!--2019.06-->
        <div class="col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">×</a>
                        <a href="" class="minimize">−</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">2019.06</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>1、网页UI优化（form表单、网页左侧栏代码提取为base.htmml、部分UI颜色更换、查询栏样式)</li>
                        <li>2、飙升新品被选入热卖产品后从列表中删除</li>
                        <li>3、飙升新品增加删除功能</li>
                        <li>4、热卖产品增加修改标签功能</li>
                        <li>5、新增监控产品表、和热卖产品列表</li>
                    </ul>
                </div>
            </div><!-- panel -->
        </div><!-- col-sm-6 -->
    </div>

</div><!-- contentpanel -->


{% endblock %}


