{% extends 'base.html' %}
{% block content %}


  <div class="contentpanel">

      <div class="row">
          <!--侵权产品资讯！！！-最重要,每天必看--->
          <div class="col-sm-12">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <div class="panel-btns">
                          <a href="" class="panel-close">×</a>
                          <a href="" class="minimize">−</a>
                      </div><!-- panel-btns -->
                      <h3 class="panel-title">侵权产品资讯！！！-最重要,每天必看-</h3>
                  </div>
                  <div class="panel-body">
                      <ul>
                          <li><a href="https://sellerdefense.cn/" target="_blank">侵权产品(GBC)集合</a></li>
                      </ul>
                  </div>
              </div><!-- panel -->
          </div><!-- col-sm-6 -->

          <!--同行独立站-->
          <div class="col-sm-12">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <div class="panel-btns">
                          <a href="" class="panel-close">×</a>
                          <a href="" class="minimize">−</a>
                      </div><!-- panel-btns -->
                      <h3 class="panel-title">同行独立站</h3>
                  </div>
                  <div class="panel-body">
                      <ul>
                          <li><a href="https://www.banggood.com/" target="_blank">棒谷独立站</a></li>
                      </ul>
                      <ul>
                          <li><a href="https://www.jollychic.com/" target="_blank">执御独立站</a></li>
                      </ul>
                  </div>
              </div><!-- panel -->
          </div><!-- col-sm-6 -->

          <!--商标查询-->
          <div class="col-sm-12">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <div class="panel-btns">
                          <a href="" class="panel-close">×</a>
                          <a href="" class="minimize">−</a>
                      </div><!-- panel-btns -->
                      <h3 class="panel-title">商标查询</h3>
                  </div>
                  <div class="panel-body">
                      <ul>
                          <li><a href=" http://sbcx.saic.gov.cn:9080/tmois/wscxsy_getIndex.xhtml"
                                 target="_blank">中国（大陆）</a></li>
                          <li><a href="http://tsdr.uspto.gov/" target="_blank">美国</a></li>
                      </ul>
                  </div>
              </div><!-- panel -->
          </div><!-- col-sm-6 -->

          <!--专利查询网址-->
          <div class="col-sm-12">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <div class="panel-btns">
                          <a href="" class="panel-close">×</a>
                          <a href="" class="minimize">−</a>
                      </div><!-- panel-btns -->
                      <h3 class="panel-title">专利查询网址</h3>
                  </div>
                  <div class="panel-body">
                      <ul>
                          <li><a href=" http://www.sipo.gov.cn/" target="_blank">中国国家知识产权局港</a></li>
                          <li><a href="http://patft.uspto.gov/" target="_blank">美国</a></li>
                          <li><a href="http://ep.espacenet.com/numberSearch?locale=en_EP" target="_blank">欧盟发明专利查询</a>
                          </li>
                          <li><a href="http://oami.europa.eu/RCDOnline/RequestManager#" target="_blank">欧盟外观专利查询</a>
                          </li>
                      </ul>
                  </div>
              </div><!-- panel -->
          </div><!-- col-sm-6 -->


      </div>

  </div><!-- contentpanel -->


{% endblock %}



